<p *ngIf="errMsg!=null" style="color:red">
    {{errMsg}}
</p>
<section *ngIf="errMsg==null" class="container" style="width: 100%">
    <h3>Task List</h3>
    <form ngNativeValidate>
        <div class="form-row">

            <div class="col">
                <div>
                    <label>Task </label>
                </div>
                <div>
                    <input class="form-control" name="taskSummarySearchKey" [(ngModel)]="searchTask.taskSummary" placeholder="Search By Task">
                </div>
            </div>
            <div class="col">
                <div>
                    <label>Parent Task </label>
                </div>
                <div> <input class="form-control" name="parentTaskSearchKey" [(ngModel)]="searchTask.parentTask"placeholder="Search By Parent Task">
                </div>
            </div>
        </div>
        <hr>
        <div class="form-row">
            <div class="col">
                <div>
                    <label>Priority From</label>
                </div>
                <div> <input class="form-control" name="priorityGt" [(ngModel)]="searchTask.priorityGt" placeholder="Search By Priority">
                </div>
            </div>
            <div class="col">
                <div>
                    <label>Priority To</label>
                </div>
                <div> <input class="form-control" name="priorityLt" [(ngModel)]="searchTask.priorityLt" placeholder="Search By Priority">
                </div>
            </div>
        </div>
        <hr>
        <div class="form-row">
            <div class="col">
                <mat-form-field>
                    <input matInput [matDatepicker]="startDateDP" name="startDateInput" [(ngModel)]="searchTask.startDate"
                        placeholder="Start Date">
                    <mat-datepicker-toggle matSuffix [for]="startDateDP"></mat-datepicker-toggle>
                    <mat-datepicker #startDateDP></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col">
            </div>
            <div class="col">
                <mat-form-field>
                    <input matInput [matDatepicker]="endDateDP" name="endDateInput" [(ngModel)]="searchTask.endDate"
                        placeholder="End Date">
                    <mat-datepicker-toggle matSuffix [for]="endDateDP"></mat-datepicker-toggle>
                    <mat-datepicker #endDateDP></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col"> 
            </div>
        </div>
        <button type="reset" class="btn btn-secondary pull-right">Reset</button>
    </form>
    <hr>
    <table class="table" style="table-layout:fixed">
        <thead class="thead-light">
            <tr>
                <th scope="col">Task</th>
                <th scope="col">Parent Task</th>
                <th scope="col">Priority</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col" colspan="2">Action</th>
            </tr>
        </thead>
    </table>
    <app-task-detail *ngFor="let task of tasks | filter:'taskSummary':searchTask.taskSummary | filter: 'parentTaskSummary':searchTask.parentTask | filter: 'priorityGt':searchTask.priorityGt | filter: 'priorityLt':searchTask.priorityLt| filter: 'startDateInput':searchTask.startDate | filter: 'endDateInput':searchTask.endDate"
        [task]="task"></app-task-detail>
</section>