<p *ngIf="errMsg!=null" style="color:red">
    {{errMsg}}
</p>
<section *ngIf="errMsg==null" class="container" style="width: 100%">
    <h3>Task List</h3>
    <form ngNativeValidate>
        <div class="form-row">
            <div class="col">
                <label>Task </label>
            </div>
            <div class="col">
                <input name="taskSummarySearchKey" [(ngModel)]="taskSummarySearchKey">
            </div>
            <div class="col">
                <label>Parent Task </label>
            </div>
            <div class="col"> <input name="parentTaskSearchKey" [(ngModel)]="parentTaskSearchKey">
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label>Priority From</label>
            </div>
            <div class="col"> <input name="priorityGt" [(ngModel)]="priorityGtSearchKey">
            </div>
            <div class="col">
                <label>Priority To</label>
            </div>
            <div class="col"> <input name="priorityLt" [(ngModel)]="priorityLtSearchKey">
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <mat-form-field>
                    <input matInput [matDatepicker]="startDateDP" name="startDateInput" [(ngModel)]="startDateInput"
                        placeholder="Start Date">
                    <mat-datepicker-toggle matSuffix [for]="startDateDP"></mat-datepicker-toggle>
                    <mat-datepicker #startDateDP></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col">
            </div>
            <div class="col">
                <mat-form-field>
                    <input matInput [matDatepicker]="endDateDP" name="endDateInput" [(ngModel)]="endDateInput"
                        placeholder="End Date">
                    <mat-datepicker-toggle matSuffix [for]="endDateDP"></mat-datepicker-toggle>
                    <mat-datepicker #endDateDP></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col">
            </div>
        </div>
    </form>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Task</th>
                <th scope="col">Parent Task</th>
                <th scope="col">Priority</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col" colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let task of tasks | filter:'taskSummary':taskSummarySearchKey | filter: 'parentTask':parentTaskSearchKey | filter: 'priorityGt':priorityGtSearchKey | filter: 'priorityLt':priorityLtSearchKey| filter: 'startDateInput':startDateInput | filter: 'endDateInput':endDateInput">
                <td>
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">
                                {{task.taskSummary}}
                            </p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">
                                {{task.parentTask}}
                            </p>
                        </div>
                    </div>
                </td>
                <td>{{task.priority}}</td>
                <td>{{task.startDate | date:"MM/dd/yy"}}</td>
                <td>{{task.endDate | date:"MM/dd/yy"}}</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-primary mr-1" (click)="editTask(task)">Edit</button>
                        <button type="reset" class="btn btn-danger">End Task</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>